@page
@model IndexModel
@{
    ViewData["Title"] = "Depozit";
}
<style>
    body { background: url("https://i.ytimg.com/vi/dQw4w9WgXcQ/maxresdefault.jpg") no-repeat center center fixed; }
</style>
<div class="text-center">
    
</div>
